.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

@media only screen and (max-width: 600px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
        padding: 40px 0;
    }
}

@media only screen and (max-width: 600px) {
    .navbar li {
        padding: 5px 0;
    }
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: #333;
}